{
  "semi": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "quoteProps": "preserve",
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80
}
